body {
  font-family: Arial;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
  .dwnArrow {
    display: none;
  }
}
.dwnArrow {
  position: absolute;
  left: 680px;
  top: 75%;
  width: 5%;
  text-align: center;
  background-color: transparent;
  color: rgb(181,71, 109);
  border: none;
}
.dwnArrow:hover {
  cursor: pointer;
}
/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  min-width: 101.05%;
}

/* Fake image, just for this example */
.fakeimg {
  width: 100%;
  height: auto;
  padding: 10px;
  position: relative;
}

.responsive {
  width: 100%;
  height: auto;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f6f6f6;
  padding: 20px;
  color: white;
}

/* Main column */
.main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: #f6f6f6;
  padding: 20px;
  color: #252525;
  border-left: 2px solid darkgrey;
  max-width: 100%;
}

.color-magenta {
  color: rgb(181,71, 109);
}

.color-blue {
  color: rgb(107, 178, 219);
}

// p {
//   text-indent: 25px;
// }

h2 {
  color: rgb(107, 178, 219);
  font-weight: bold;
}
h5 {
  color: rgb(181,71, 109);
  font-style: italic;;
}
