<br>
<div class="container" style="text-align: center; font-weight: bold; padding-top: 35px;"><h1>FASHION ICONS</h1></div>
<br>
<div class="row">
  <div class="card-column">
    <div class="card">
      <%= image_tag "miumiu.jpg", alt: "Miuccia Prada", style:"width:100%" %>
      <div class="card-container">
        <h2>Miuccia Prada</h2>
        <p class="title">Fashion Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <span><button class="button">Fashion Styles</button></span>
      </div>
    </div>
  </div>
  <div class="card-column">
    <div class="card">
      <%= image_tag "alexanderMcQueen.jpg", alt: "Alexander McQueen", style:"width:100%" %>
      <div class="card-container">
        <h2>Alexander McQueen</h2>
        <p class="title">Fashion Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <span><button class="button">Fashion Styles</button></span>
      </div>
    </div>
  </div>
  <div class="card-column">
    <div class="card">
      <%= image_tag "chanel.jpg", alt: "Gabrielle Chanel", style:"width:100%" %>
      <div class="card-container">
        <h2>Gabrielle (CoCo) Chanel</h2>
        <p class="title">Fashion Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <span><button class="button">Fashion Styles</button></span>
      </div>
    </div>
  </div>
</div>
<br><br>
