<div class="footer-container">
  <div class="footer-column">
    <h5 class="color-blue" style="padding-bottom: 15px">COMPANY INFORMATION</h5>
    <p>Our Company</p>
    <p>Customer Service</p>
    <p>Changing Your Address</p>
    <p>Contact Us</p>
    <p>Join Our Designers</p>
  </div>
  <div class="footer-column">
    <h5 class="color-blue" style="padding-bottom: 15px">TURENES'S DAUGHTERS</h5>
    <p>Home</p>
    <p>Fashion</p>
    <p>Designer's Blog</p>
    <p>Fashion Boutique</p>
  </div>
  <div class="footer-column">
    <h5 class="color-blue" style="padding-bottom: 15px">SUBSCRIBE</h5>
    <p>Fashion Newsletters</p>
    <p>Fashion Boutique Account</p>
  </div>
</div>
