<br>
<div class="container" style="text-align: center; font-weight: bold; margin-top: 35px; margin-bottom: 35px"><h1 class="color-magenta" style="font-size: 45px">FASHION ICONS</h1></div>
<br>
<div class="row">
  <div class="img-card-column">
    <div class="img-card">
      <%= image_tag "miumiu.jpg", alt: "Miuccia Prada", style:"width:100%" %>
      <div class="img-card-container">
        <h3>Miuccia Prada</h3>
        <p class="title">Fashion Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <span><button class="button">Fashion Styles</button></span>
      </div>
    </div>
  </div>
  <div class="img-card-column">
    <div class="img-card">
      <%= image_tag "alexanderMcQueen.jpg", alt: "Alexander McQueen", style:"width:100%" %>
      <div class="img-card-container">
        <h3>Alexander McQueen</h3>
        <p class="title">Fashion Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <span><button class="button">Fashion Styles</button></span>
      </div>
    </div>
  </div>
  <div class="img-card-column">
    <div class="img-card">
      <%= image_tag "chanel.jpg", alt: "Gabrielle Chanel", style:"width:100%" %>
      <div class="img-card-container">
        <h3>Gabrielle (CoCo) Chanel</h3>
        <p class="title">Fashion Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <span><button class="button">Fashion Styles</button></span>
      </div>
    </div>
  </div>
</div>
<br><br>
