<br>
<div class="container" style="text-align: center; font-weight: bold; margin-top: 35px; margin-bottom: 35px"><h1 class="color-magenta" style="font-size: 45px">FASHION ICONS</h1></div>
<br>
<div class="img-card-row">
  <div class="img-card-column">
    <div class="img-card">
      <%= image_tag "miumiu.jpg", alt: "Miuccia Prada", style:"width:100%" %>
      <div class="img-card-container">
        <h3>Miuccia Prada</h3>
        <p class="title">Fashion Designer</p>
        <p>Miuccia Bianchi Prada is an Italian billionaire fashion designer and businesswoman<span id="dots">...</span><span id="more"> She is the head designer of Prada and the founder of its subsidiary Miu Miu.</span></p>
        <button onclick="myFunction()" id="moreBtn" class="moreBtn" style= "float: right">Read more</button>
        <span><button class="button">Fashion Styles</button></span>
      </div>
    </div>
  </div>
  <div class="img-card-column">
    <div class="img-card">
      <%= image_tag "alexanderMcQueen.jpg", alt: "Alexander McQueen", style:"width:100%" %>
      <div class="img-card-container">
        <h3>Alexander McQueen</h3>
        <p class="title">Fashion Designer</p>
        <p>Lee Alexander McQueen, CBE was a British fashion designer and couturier<span id="dots2">...</span><span id="more2"> He worked as chief designer at Givenchy from 1996 to 2001, and founded his own fort Alexander McQueen label in 1992.</span></p>
        <button onclick="myFunction2()" id="moreBtn2" class="moreBtn" style= "float: right">Read more</button>
        <span><button class="button">Fashion Styles</button></span>
      </div>
    </div>
  </div>
  <div class="img-card-column">
    <div class="img-card">
      <%= image_tag "chanel.jpg", alt: "Gabrielle Chanel", style:"width:100%" %>
      <div class="img-card-container">
        <h3>Gabrielle (CoCo) Chanel</h3>
        <p class="title">Fashion Designer</p>
        <p>Gabrielle Bonheur "Coco" Chanel was a French fashion designer, businesswoman<span id="dots3">...</span><span id="more3"> The founder and namesake of the Chanel brand, she was credited in the post-World War I era with liberating women from the constraints of the "corseted silhouette" and popularizing a sporty, casual chic as the feminine standard of style.</span></p>
        <button onclick="myFunction3()" id="moreBtn3" class="moreBtn" style= "float: right">Read more</button>
        <span><button class="button">Fashion Styles</button></span>
      </div>
    </div>
  </div>
</div>
<br><br>

<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("moreBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}
</script>
<script>
function myFunction2() {
  var dots2 = document.getElementById("dots2");
  var moreText2 = document.getElementById("more2");
  var btnText2 = document.getElementById("moreBtn2");
  if (dots2.style.display === "none") {
    dots2.style.display = "inline";
    btnText2.innerHTML = "Read more";
    moreText2.style.display = "none";
  } else {
    dots2.style.display = "none";
    btnText2.innerHTML = "Read less";
    moreText2.style.display = "inline";
  }
}
</script>
<script>
function myFunction3() {
  var dots3 = document.getElementById("dots3");
  var moreText3 = document.getElementById("more3");
  var btnText3 = document.getElementById("moreBtn3");
  if (dots3.style.display === "none") {
    dots3.style.display = "inline";
    btnText3.innerHTML = "Read more";
    moreText3.style.display = "none";
  } else {
    dots3.style.display = "none";
    btnText3.innerHTML = "Read less";
    moreText3.style.display = "inline";
  }
}
</script>
