.home-banner {
  background-image: url(corner.jpg);
  background-size: 110%;
  background-repeat: no-repeat;
  max-height: 106vh;
  max-width: 1500px;
  color: #eee;
  // text-align: center;
  margin-top: -5.5vh;
}

.responsive {
  width: 100%;
  max-height: 1500px;
  height: auto;
  background-color: transparent;
  position: relative;

}


