/* Footer */
// .footer {
//   padding: 20px;
//   text-align: center;
//   color: #000;
//   background-color: rgb(181,71, 109);
//   font-weight: bold;
// }

/* Responsive layout - when the screen is less than 400px wide, make the font size 18px */
@media screen and (max-width: 500px) {
  .footer {
    font-size: 18px;
  }
}

.footer-container {
  display: flex;
  width: 100%;
  background-color: #444;
  justify-content: center;
}
/* Create three equal columns that floats next to each other */
.footer-column {
  width: 33.33%;
  height: 350px;
  padding-top: 5%;
  color: white;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
