/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: black;
  color: magenta;
}

.footer {
  color: #f2f2f2
;}

/* Responsive layout - when the screen is less than 400px wide, make the font size 18px */
@media screen and (max-width: 500px) {
  .footer h2 {
    font-size: 18px;
  }
}
