/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background-color: #e0e0e0;
  color: rgb(181,71, 109);
  font-weight: bold;
}

/* Responsive layout - when the screen is less than 400px wide, make the font size 18px */
@media screen and (max-width: 500px) {
  .footer h2 {
    font-size: 18px;
  }
}
