.glow {
  font-size: 50px;
  color: rgb(181,71, 109);
  text-align: center;
  -webkit-animation: glow .5s ease-in-out infinite alternate;
  -moz-animation: glow .5s ease-in-out infinite alternate;
  animation: glow .5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 8px #fff, 0 0 18px #fff, 0 0 28px #e60073, 0 0 38px #e60073, 0 0 48px #e60073, 0 0 58px #e60073, 0 0 68px #e60073;
  }
  to {
    text-shadow: 0 0 18px #fff, 0 0 28px #ff4da6, 0 0 38px #ff4da6, 0 0 48px #ff4da6, 0 0 58px #ff4da6, 0 0 68px #ff4da6, 0 0 78px #ff4da6;
  }
}

.no-glow {
  font-size: 50px;
  color: rgb(181,71, 109);
  text-align: center;
}
